body {
  text-align: center;
  background-color: #1A1A1A;
}

h1 {
  font-size: 5rem;
  color: #E6E6E6;
  font-family: "Arvo", cursive;
  text-shadow: 0px 8px 8px #000000;
}

footer {
  color: #E6E6E6;
  font-family: sans-serif;
}

.w {
  background-image: url("images/tom-0.png");
}

.a {
  background-image: url("images/tom-1.png");
}

.s {
  background-image: url("images/tom-2.png");
}

.d {
  background-image: url("images/tom-3.png");
}

.j {
  background-image: url("images/tom-4.png");
}

.k {
  background-image: url("images/tom-5.png");
}

.l {
  background-image: url("images/tom-6.png");
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  opacity: 0.2;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #1A1A1A;
  box-shadow: 0px 0px 8px 0px #000000;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #FF0000;
  text-shadow: 0px 8px 8px #000000;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
